<!DOCTYPE html>
<html>
  <head>
    %sapper.base%

    <link rel="stylesheet" href="/styles/global.css">
    <!--
      Styles created directly inside svelte components will be pasted here
    -->
    %sapper.styles%

    %sapper.head%
  </head>
  <body>
    <!-- The application will be rendered inside this element,
      because `src/client.js` references it -->
    <div id="sapper">%sapper.html%</div>
    <script src="/scripts.js"></script>
    <!--  UNCOMMENT BELOW IF YOU WANT A DYNAMIC CLIENT-SIDE  */}} -->
    <!-- %sapper.scripts% -->
  </body>
</html>
