:root
  font-family: nth($families, 1)
  line-height: nth($lineHeights,4)
  // color: $text
  font-size: $base-size
  @media (min-width: 1600px) and (min-aspect-ratio: 5/2)
    font-size: calc(#{$base-size} + 0.025vw)
  @media (min-width: 1600px) and (max-aspect-ratio: 2/1)
    font-size: calc(#{$base-size} + 0.025vw)
  @media (min-width: 1900px) and (max-aspect-ratio: 5/2)
    font-size: calc(#{$base-size} + 0.05vw)
  @media (min-width: 2500px) and (max-aspect-ratio: 2/1)
    font-size: calc(#{$base-size} + 0.1vw)   

.no-scroll,
.no-scroll body
  overflow-y: hidden

*,
*:before,
*:after
  box-sizing: inherit
  font-family: inherit
  font-size: inherit
  line-height: inherit

::selection
  // background: $primary
  color: black

body
  line-height: inherit
  margin: 0
  min-height: 100%
  box-sizing: border-box
  font-size: getRem(18px)

h1,
h2,
h3,
h4
  margin: 0

h1, h2, h3, h4,
.f-heading
  font-family: nth($families, 1)
  font-weight: nth($weights, 2)

h1
  font-size: getRem(30px)

h2
  font-size: getRem(24px)

h3
  font-size: getRem(20px)

h4, body
  font-size: getRem(16px)

a
  text-decoration: none
  color: inherit

p > a
  // color: $primary
  text-decoration: underline

ul,
ol
  list-style: none
  padding: 0
  text-align: left

li
  margin: 0 0 1em

img
  max-width: 100%

input,
textarea
  display: block
  width: 100%

textarea
  resize: vertical

.text_center
  text-align: center

.section
  margin-right: auto
  margin-left: auto
  padding: getRem(80px, 16px)

.section_sm
  max-width: $container-sm

.section_md
  max-width: $container-md

.section_lg
  max-width: $container-lg

button
  border: none
  background: transparent
  cursor: pointer

.btn
  padding: 0.75em 1.75em
  display: inline-block
  min-width: 15em
  position: relative
  text-decoration: none
  text-align: center
  letter-spacing: 0.05em
  color: white
  font-size: 1.15em
  transition: $t
  &:hover,
  &:focus
    transform: translateY(-5%)

.btn_alt
  // background: $primary

.btn_sm
  padding: 0.35em 1.25em
  min-width: 0